.cart {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid whitesmoke;
}

.cart__heading {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
    background-color: #F25022;
}

.cart__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cart__details {
    text-align: center;
    width: 100%;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
    font-size: large;
    
}

.cart__item h4, span {
    margin-right: 5px;
}

@media only screen and (max-width: 800px) {
    .cart__item {
        padding: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .cart__item {
        padding: 10px;
        font-size: medium;
    }
}