.invoice {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.invoice__heading {
    padding: 10px;
    border: 1px solid #00A699;
    background-color: #00A699;
    text-align: center;
    border-radius: 20px;
    font-size: x-large;
}

.invoice__category {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    padding: 10px;
    font-size: large;
}

span {
    padding: 10px;
}