.items {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border: 1px solid whitesmoke;
}

.items__heading {
    border-bottom: 1px solid whitesmoke;
    padding: 15px;
}

.items__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.items__details {
    font-size: large;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    padding: 20px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items__description {
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.items__btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: whitesmoke;
    background-color: #2196f3;
    font-size: medium;
}

button:hover {
    opacity: 0.8;
    transition: all 0.4s ease;
}

.items__addBtn:hover {
    background-color: #1DB954;
    color: white;
}

.items__remBtn:hover {
    background-color: #f50057;
    color: white;
}