* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cascadia code;
  background-color: #303030;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke
}

.left__item {
  flex: 0.5;
  margin-top: 3%;
  padding: 30px;
  /* margin-left: 10%; */
}

.cart {
  flex: 0.5;
  margin-top: 3%;
  /* margin-left: 10%; */
}